@charset "uft-8";

html {
  font-size: 62.5%;
}

@mixin fontsize($size:24,$base:10){
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}

$logo_font:"Kaushan Script",cursive;
$min_font:'Noto Serif JP', sans-serif;
$goth_font:'Noto Sans JP', sans-serif;
$ja_font : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
$brown1:#33261E;
$brown2:rgba(51, 38, 38, 0.6);
$pink1:#EB6C99;
$pink2:rgba(235, 108, 153, 0.9);
$shadow: 0 0 3px 0px rgba($color: black, $alpha: 0.4);
$men001_img:url(../image/renge01.jpg);
$men002_img:url(../image/ryunohige01.jpg);
$men003_img:url(../image/toridake01.jpg);


body {
  margin: 0;

  span{
    font-family: $logo_font;
  }

  .men001_img{
    background-image: $men001_img;
  }
  .men002_img{
    background-image: $men002_img;
  }
  .men003_img{
    background-image: $men003_img;
  }
}     


header {
  #title{
    width: 100%;
    height: 800px;
    background-image: url(../image/header_bg01.jpg);
    background-size: cover;
    position: relative;

    .title_line{
      background-color: $brown2;
      width: 100%;
      position:absolute;
      top:40%;

      
      h2{
         font-family: $logo_font;
         color: white;
         margin: 20px;
         margin-left: 20%;
         font-size: 4rem;
      }
    }
    
    #nav{
      list-style: none;
      position: absolute;
      top:60%;
      right:0;
      margin-right: 100px;


      a{
        text-decoration: none;
      }

      .nav_btn{
        width: 300px;
        background-color: $pink2;
        margin: 5px;
        border-radius: 4px;
        text-align: center;
        


        p{
          margin: 0;
          padding: 15px 15px;
          color:white;
          font-size: 2.4rem;
          font-family: $min_font;
        }
      }
    }

    #down_mark{
      background-image: url(../image/down.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50%;
      width: 45px;
      height: 30px;
      position: absolute;
      bottom: 2%;
      left: 48%;
    }
  }
}

#main_map{
  background-color: $brown1;
  margin: 30px 0 60px;
  padding-bottom: 40px;
  
  #map_title{
    color: white;
    text-align: center;
    padding: 15px 0 10px ;
    
    p{
      margin: 0 ;
      font-size: 3rem;
      font-family: $min_font;
    }
    span{
      font-size: 2.5rem;
    }
  }  

  #map_area{
    background-color: white;
    width:950px;
    height: 550px;
    margin: 10px auto;
    border-radius: 10px;
    padding: 10px 0;
    position: relative;


    #gmap{
      width: 80%;
      height: 92%;
      margin: 0px ;
      position: absolute;
      top:4%;
      left:2%;
      z-index: 2;

    }

    #map_btn{
      list-style: none;
      width: 60%;
      position: absolute;
      top:20%;
      right: 2%;
      z-index: 1;

      a{
        text-decoration: none;
      }

      .map_rbn{
        height: 50px;
        margin: 10px 0;
        background-color: $pink1;
        text-align: right; 

        h5{
          color: $brown1;
          font-family: $goth_font;
          margin: 0;
          margin-right: 20px;
          font-size: 2rem;
          font-weight: 300;

        }
        p{
          color: $brown1;
          margin: 0;
          margin-right: 10px;
          font-size: 1.5rem;

        }
      }
    }
  }
}// #main_map

#collection{

  #co_title{
    background-image: url(../image/ribbon.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    text-align: center;
    padding-bottom: 30px;
    
    p{
      font-size: 3rem;
      font-family: $min_font;
      color: white;
      margin: 0 auto;
      padding-top: 5px;
      
    }
    span{
      font-size: 2.5rem;
      color: white;
    }

  }

  #hash_area{
    position: relative;
    height: 130px;
    margin-bottom: 50px;

    .area1{
      position: absolute;
      top:10%;
      left:35%;
    }
    .area2{
      position: absolute;
      top:10%;
      left:55%;
    }
    .area3{
      position: absolute;
      top:60%;
      left:25%;
    }
    .area4{
      position: absolute;
      top:60%;
      left:45%;
    }
    .area5{
      position: absolute;
      top:60%;
      left:65%;
    }
    a{
      text-decoration: none;
      
      p{
        color: $pink1;
        font-family: $goth_font;
        text-decoration: underline;
        font-size: 2.5rem;
        font-weight: 300;

      }
    }

  }// hash_area
  
  .card_area{
    width: 950px;
    padding: 0;
    margin: 0 auto 160px;

    li{
      list-style: none;
      float: left;
      width: 30%;
      height: 410px;
      margin: 5% 5% 0 0;


      &:nth-child(3n){
        margin-right:0; 
      }

      a{
        text-decoration: none;

        .card{
          background-image: url(../image/more.jpg);
          background-position: right bottom;
          background-repeat: no-repeat;
          background-size: 20% auto;
          border-radius: 10px 10px 0 10px;
          box-shadow: $shadow;
          height: 100%;
          
          

          .men_img{
            background-color: #d8d7d1;
            background-size: cover;
            height:285px;
            border-radius: 10px 10px 0 0;
          }

          .men_name1{
            font-family: $min_font;
            font-size: 2.2rem;
            color: $brown1;
            padding-left: 40px;
            height: 30px;
            margin: 15px auto 0;
          } 

          .men_name2{
            font-family: $min_font;
            font-size: 2.2rem;
            color: $brown1;
            padding-right: 40px;
            height: 30px;
            margin: 0 auto ;
            text-align: right;
          }
        
          .shop_name{
            font-family: $min_font;
            font-size: 1.9rem;
            color: $brown1;
            padding: 10px 15px;
            margin: 0;

            strong{
              font-size: 1.5rem;
              font-weight: 300;
              padding: 0 10px;
            }
          }

        }
          
      }
    }
    
    &:after{
      content:"";
      display: block;
      clear: both;
    }


    
  }// .card_area
}// #collection

footer{
  widows: 100%;
  background-color: $brown1;
  text-align: center;

  p{
    color: white;
    font-family: $min_font;
    font-size: 2rem;
    padding: 8px;
    margin: 0 auto;
  }

}










// men page
header#men_page{
  #title{
    height: 200px;
    background-image: url(../image/men_header_bg.jpg);

    .title_line{
      top:15%;

      h2{
        margin: 7px;
        margin-left: 15%;
      }
    }

    #nav{
      margin-right: 5%;

      li{
        float: left;
      }

      .nav_btn{
        width:250px;

        p{
          padding: 5px;
          font-size: 2rem;

        }
      }
    }
  }

}

#men_data{
  background-color: $brown1;
  margin: 30px 0 60px;
  padding-bottom: 50px;
  
  #data_title{
    color: white;
    text-align: center;
    padding: 15px 0 8px;

    p{
      font-size: 5rem;
      margin: 0;
    }
  }

  #data_area{
    background-color: white;
    width:900px;
    margin: 10px auto;
    border-radius: 10px;
    padding: 3%;
    position: relative;
    overflow: hidden;

    #men_img{
      float: left;
      width: 50%;
      height: 0;
      padding-bottom: 50%;
      margin: 0;
      margin-bottom: 40px;
      background: $men001_img;
      background-size: cover;
      box-shadow: $shadow;
    }

    #men_detail{
      width: 50%;
      float: left;
      margin-bottom: 60px;

      .men_area{
        p{
          color: $pink1;
          font-size: 1.7rem;
          text-align: right;
          padding-right: 30px;
          margin: 0;
        }
      }
      
      .name_rbn{
        font-family: $min_font;
        background-image: url(../image/men_rbn.jpg);
        background-position: right;
        height: 60px;
        line-height: 60px;

        .name{
          font-size: 2.5rem;
          display: inline;
          letter-spacing: 0.4rem;
          padding: 0 50px;
        }
        .price{
          font-size: 2.1rem;
          display: inline;
          letter-spacing: 0.3rem;
        }
      }

      .feature{
        p{
          text-align: center;
          font-size: 2.5rem;
          font-family: $min_font;
          letter-spacing: 0.4rem;
          margin: 20px 20px;
        }
      }

      .detail_text{
        padding: 0px 35px;
        
        p{
          margin: 10px 0 ;
          font-size: 1.9rem;
          font-family: $min_font;
          letter-spacing: 0.1rem;
          line-height: 1.6;
        }
      }
    }
  }

  #shop_detail{
    width: 50%;
    float: left;
    
    .shop_rbn{
      font-family: $min_font;
      background-image: url(../image/men_rbn.jpg);
      background-position: left;
      height: 60px;
      line-height: 60px;

      .subname{
        font-size: 2.1rem;
        display: inline;
        letter-spacing: 0.4rem;
        padding-left: 120px ;
        padding-right: 30px;
      }
      .name{
        font-size: 2.7rem;
        display: inline;
        letter-spacing: 0.8rem;
      }
    }

    #shop_table{
      font-family: $min_font;
      border-spacing: 25px 33px;
      margin-left: 3%;

      th{
        background-color: $brown1;
        color: white;
        font-size: 1.6rem;
        width: 90px;
      }

      td{
        font-size: 2rem;
        p{
          margin: 0;
          font-size: 1.7rem;
        }
        .snsmark{
          float: left;
          width: 2rem;
          height: 2rem;
          background-image: url(../image/twitter.jpg);
          background-size: contain;
          margin: auto auto;
        }
        a{
          float: left;
          font-size: 1.3rem;
          color: $pink1;
          display: block;
          padding-left: 5px;
        }
      }
    }
  }

  #shop_map{
    float: left;
    width: 50%;
    height: 450px;
    box-shadow: $shadow;
  }

}




#another{

  #ano_title{
    background-image: url(../image/ribbon.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    text-align: center;
    padding-bottom: 30px;
    
    p{
      font-size: 3rem;
      font-family: $min_font;
      color: white;
      margin: 0 auto;
      padding-top: 5px;
      
    }
    span{
      font-size: 2.5rem;
      color: white;
    }

  }

  .card_area{
    width: 950px;
    padding: 0;
    margin: 0 auto 40px;

    li{
      list-style: none;
      float: left;
      width: 30%;
      height: 410px;
      margin: 5% 5% 0 0;


      &:nth-child(3n){
        margin-right:0; 
      }

      a{
        text-decoration: none;

        .card{
          background-image: url(../image/more.jpg);
          background-position: right bottom;
          background-repeat: no-repeat;
          background-size: 20% auto;
          border-radius: 10px 10px 0 10px;
          box-shadow: $shadow;
          height: 100%;
          
          

          .men_img{
            background-color: #d8d7d1;
            background-size: cover;
            height:285px;
            border-radius: 10px 10px 0 0;
          }

          .men_name1{
            font-family: $min_font;
            font-size: 2.2rem;
            color: $brown1;
            padding-left: 40px;
            height: 30px;
            margin: 15px auto 0;
          } 

          .men_name2{
            font-family: $min_font;
            font-size: 2.2rem;
            color: $brown1;
            padding-right: 40px;
            height: 30px;
            margin: 0 auto ;
            text-align: right;
          }
        
          .shop_name{
            font-family: $min_font;
            font-size: 1.9rem;
            color: $brown1;
            padding: 10px 15px;
            margin: 0;

            strong{
              font-size: 1.5rem;
              font-weight: 300;
              padding: 0 10px;
            }
          }

        }
          
      }
    }
    
    &:after{
      content:"";
      display: block;
      clear: both;
    }
  }// .card_area


  #sub_nav{
    list-style: none;
    width: 420px;
    margin: 0 auto 100px;
    overflow: hidden;

    a{
      text-decoration: none;
    }

    .nav_btn{
      width: 200px;
      background-color: $pink1;
      margin: 5px;
      border-radius: 6px;
      text-align: center;
      float: left;


      p{
        margin: 0;
        padding: 10px 10px;
        color:white;
        font-size: 2rem;
        font-family: $goth_font;
      }

    }
  }
}// #another







// info
#about{
  width: 950px;
  margin: 0 auto;

  #about_title{
    background-image: url(../image/ribbon.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    text-align: center;
    padding-bottom: 30px;
    margin-top: 30px;
    
    p{
      font-size: 2.4rem;
      font-family: $min_font;
      color: white;
      margin: 0 auto;
      padding: 15px 0 10px;
      
    }
    span{
      font-size: 3rem;
      color: white;
      letter-spacing: 0.3rem;
      
    }
  }

  .title_copy{
    p{
      font-size: 3rem;
      font-family: $goth_font;
      font-weight: 300;
      text-align: center;
      letter-spacing: 0.5rem;
    }
  }

  .title_text{
    overflow: hidden;

    .t1,.t2,.t3{
      float: left;
      width: 50%;
      padding-left: 8%;
    }

    .logo_mark{
      float: right;
      width: 40%;
      // height: 300px;
      padding-bottom: 40%;
      background-image: url(../image/logo_mark.jpg);
      background-repeat: no-repeat;
      background-position: right top;
    }

    
    p{
      font-size: 1.9rem;
      font-family: $min_font;
      letter-spacing: 0.4rem;
      
    }

  }
}


#making{
  background-color: $brown1;
  margin: 50px 0 60px;
  padding-bottom: 50px;
  
  #making_title{
    color: white;
    text-align: center;
    padding: 15px 0 8px;

    p{
      font-size: 4rem;
      margin: 0;
    }
  }

  #making_area{
    background-color: white;
    width:900px;
    margin: 10px auto;
    border-radius: 10px;
    padding: 2%;

    .copy{
      font-family: $goth_font;
      font-weight: 300;
      font-size: 3rem;
      text-align: center;
      margin: 20px 0;
      letter-spacing: 0.5rem
    }

    .making_text{
      font-family: $min_font;
      font-size: 1.9rem;
      line-height: 3.5rem;
      width: 80%;
      margin: 20px auto 25px;
      letter-spacing: 0.3rem;
    }

    #new_men{
      .new_title{
        font-family: $goth_font;
        font-weight: 300;
        font-size: 2.3rem;
        text-align: center;
        margin-bottom: 0;
        margin-top: 50px;
        

      }

      .card_area{
        width: 80%;
        padding: 0;
        margin: 0 auto 40px;

        li{
          list-style: none;
          float: left;
          width: 30%;
          height: 320px;
          margin: 5% 5% 0 0;


          &:nth-child(3n){
            margin-right:0; 
          }

          a{
            text-decoration: none;

            .card{
              background-image: url(../image/more.jpg);
              background-position: right bottom;
              background-repeat: no-repeat;
              background-size: 20% auto;
              border-radius: 10px 10px 0 10px;
              box-shadow: $shadow;
              height: 100%;
              
              

              .men_img{
                background-color: #d8d7d1;
                background-size: contain;
                height:0px;
                padding-bottom: 100%;
                border-radius: 10px 10px 0 0;
              }

              .men_name1{
                font-family: $min_font;
                font-size: 2.0rem;
                color: $brown1;
                padding-left: 40px;
                height: 30px;
                margin: 10px auto 0;
              } 

              .men_name2{
                font-family: $min_font;
                font-size: 2.0rem;
                color: $brown1;
                padding-right: 40px;
                height: 30px;
                margin: 0 auto ;
                text-align: right;
              }
            
              .shop_name{
                font-family: $min_font;
                font-size: 1.7rem;
                color: $brown1;
                padding: 3px 15px;
                margin: 0;

                strong{
                  font-size: 1.3rem;
                  font-weight: 200;
                  padding: 0 10px;
                }
              }

            }
              
          }
        }
        
        &:after{
          content:"";
          display: block;
          clear: both;
        }
      }// .card_area
    }
  }
}
// making

#attention{
  padding-bottom: 70px;

  #at_title{
    background-image: url(../image/ribbon.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    text-align: center;
    padding-bottom: 30px;
    
    p{
      font-size: 3rem;
      font-family: $min_font;
      color: white;
      margin: 0 auto;
      padding-top: 5px;
      
    }
    span{
      font-size: 2.5rem;
      color: white;
    }
  }

  .at{
    width: 750px;
    margin: 40px auto;


    .at_sub{
      font-family: $goth_font;
      font-weight: 300;
      font-size: 2.8rem;
      margin-bottom: 10px;
    }
    .at_text{
      padding-left: 5%;
      font-family: $min_font;
      font-size: 1.9rem;
      margin-top: 0;
      margin-bottom: 40px;
    }
  }
}
// attention

#contact{
  width: 800px;
  margin: 0 auto 150px;
  background-color: $brown1;
  padding: 10px 100px 70px;
  border-radius: 15px;

  .con_title{
    color: white;
    font-size: 4rem;
    margin: 15px 0 ;
    letter-spacing: 0.6rem;

  }

  .con_area{
    margin: 0 auto;
    background-color: white;
    padding: 10px 5% 40px;

    table{
      border-spacing: 20px 30px;
      width: 100%;
      
      tr{

        th{
          width: 25%;
          text-align: left;
          font-size: 1.6rem;
          font-family: $min_font;
          font-weight: 400;
          letter-spacing: 0.2rem;
          vertical-align: top;
        }

        td{
          input,textarea{
          border: $brown1 1px solid;
          font-size: 2rem;
          width: 75%;
          }

          .name_box{
            width: 200px;
            height: 25px;
          }
          
          .address_box{
            width: 100%;
            height: 25px;
          }
          
          .content_box{
            width: 100%;
            height: 200px;
          }
        }
      }

    }

    .send_btn{
      width: 100px;
      height: 28px;
      border-radius: 5px;
      background-color: $pink1;
      text-align: center;
      margin: 0 auto;
     

      p{
        font-family: $min_font;
        font-size: 1.8rem;
        margin: 0;
        color: white;
      }


    }
    
  }
}